.classpath
.project
.settings/
.gradle/
.svn/
bin/
build/

# OS Specific Files
.DS_Store
._.DS_Store
._*
Thumbs.db
Desktop.ini
Dropbox.ini

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
